doctype
html
  head
    meta(charset='UTF-8')
    title pie graph
    link(href="favicon.ico", rel="icon", type="image/png")
    link(rel="stylesheet", type="text/css", href="css/main.css")
    //- link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
      
  body
    svg(class="pie-graph", viewBox="0 0 100 100", id="js-pie-graph")
      circle(data-progress="35", class="slice slice--1", r="40", cx="50", cy="50")
      circle(data-progress="20", class="slice slice--2", r="40", cx="50", cy="50")
      circle(data-progress="55", class="slice slice--3", r="40", cx="50", cy="50")
      